*{
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
}

html,body{
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #121212;
  font-size: 62.5%;
  text-decoration: none;
}

.logoName{
  font-size: 3.2rem;
  text-shadow: -1px -1px yellow, 1px 1px orange, 2px 2px orange;
  font-weight: 600;
  color: #000;
  text-shadow: -1px -1px yellow, 1px 1px orange, 2px 2px orange;
  -webkit-transform: rotate(-3deg) skew(-10deg, 0);
  -moz-transform: rotate(-3deg) skew(-10deg, 0);
  -ms-transform: rotate(-3deg) skew(-10deg, 0);
  -o-transform: rotate(-3deg) skew(-10deg, 0);
  transform: rotate(-3deg) skew(-10deg, 0);
  font-family: "Bangers", cursive;
}


.subFooter{
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Poppins",sans-serif;
  color: #000;
  
  background: #7FD8FF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  border-radius: 32px;
  border: 2px solid black;
  padding: 16px 80px;
}

@media(max-width: 767px){
  .subFooter{
   

    justify-content: center;

    margin: 0 auto;
    border: 2px solid black;
    padding: 16px ;
  }
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loader:before {
  content:"Loading..."
}

@keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}

.custom-loader {
  margin-top: 16px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#EE171F 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#EE171F);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation:s3 1s infinite linear;
}

@keyframes s3{ 
  100%{transform: rotate(1turn)}
}